#SuggestionList {
  text-align: start;
  background: var(--light);
  box-shadow: inset 0px 0px 10px -4px rgb(50, 56, 62);
  border-radius: 0px 0px 4px 4px;
  padding: 0.4rem;
  border-top: 1px solid rgb(50, 56, 62);
}
#SuggestionList p {
  margin: 0 0;
}
.SuggestionList__city-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
  line-height: 1rem;
}
.SuggestionList__city-block--active {
  background: var(--dark);
  color: var(--light);
}
.SuggestionList__city-title {
  font-weight: bold;
}
.SuggestionList__city-subtitle {
  font-size: 80%;
}
.SuggestionList__from-to-icon {
  opacity: 0.7;
}
