.Dashboard__Navbar {
  margin-left: 250px;
}
.Dashboard__Sidebar {
  bottom: 0;
  float: none;
  min-height: 100%;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  overflow-y: hidden;
  z-index: 1038;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 250px;
}
.Dashboard__Main-area {
  min-height: 100vh;
  background: rgb(247, 247, 247);
  margin-left: 250px;
}
.Main-area__top {
  padding: 2rem;
  width: 100%;
  height: 100px;
  display: flex;
}
.Main-area__top-item {
  width: 280px;
  height: 100%;
}
