/*TODO cleanup needed, better class naming structure and sorting */
.form {
  user-select: none;
  padding: 2rem;
  /* background: lightblue; */
}
/* travel types */
.form__radio {
  justify-content: center;
  list-style-type: none;
  display: flex;
}
.form__radio li {
  align-items: center;
  font-size: 1.1rem;
  margin: 0 1rem;
  display: flex;
  cursor: pointer;
}
.MuiSvgIcon-root {
  width: 1.6rem !important;
  height: 1.6rem !important;
}
.icon {
  color: rgb(151, 151, 151);
}
.icon__active {
  color: rgb(50, 56, 62);
}
/* input for city search */
.input-box {
  position: relative;
  margin: 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 580px;
}
.form__input-group {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box input,
.input-box input:active,
.input-box input:focus {
  outline: none;
}
.input-box__inner {
  width: 100%;
}
.input-box__date-header {
  position: absolute;
  right: -0.1rem;
  bottom: -0.01rem;
  margin: 0;
  padding: 0;
}
.input-box__date-header label {
  font-size: 76%;
  margin: 0;
  padding: 0.18rem 0 0.12rem 0;
}
.react-datepicker__input-container button {
  border-radius: 0 4px 4px 0;
  background: rgb(206, 212, 218);
  color: black;
  border: 1px solid black;
  padding: 0 0.6rem;
  height: 3.36rem;
  width: 5rem;
  line-height: 1rem;
  font-size: 80%;
}
.react-datepicker__input-container button:focus {
  background: grey;
}
.input-field__wrapper {
  width: 100%;
  height: 3.4rem;
  border: 1px solid rgb(50, 56, 62);
  background: rgb(50, 56, 62);
  border-radius: 4px;
  position: relative;
  margin: 0;
}
.input-field__wrapper-inner {
  position: relative;
  height: 3.22rem;
  width: 100%;
}
.input-box label,
.Amf__input-field {
  display: block;
  margin: 0;
  border: none;
  transition: all 0.2s;
}
.input-box label {
  text-transform: uppercase;
  font-weight: bold;
}
.Amf__input-field__not-ready {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  left: 0;
  margin: 0;
  font-size: 1.6rem;
  position: absolute;
}
.Amf__input-field__ready {
  border-radius: 0 0 4px 4px;
  width: 74%;
  font-size: 1.4rem;
  left: 3.5rem;
  padding-left: 1rem;
  position: absolute;
}
.Amf-input__iata,
.Amf-input__airport,
.Amf-input__country {
  backface-visibility: hidden;
  animation: opactosolid 0.6s ease;
}
.Amf-input__iata {
  color: white;
  font-size: 1.4rem;
  position: absolute;
  left: 1%;
  top: 34%;
  transform: translateY(-50%);
  transition: all 0.2s;
}
.Amf-input__airport {
  color: white;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 1%;
}
.Amf-input__country {
  color: white;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 20%;
}
.input__suggestion-list {
  display: block;
  width: 100%;
  background: lightblue;
  position: absolute;
  top: 4.8rem;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}
@keyframes opactosolid {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
