/*TODO consider 'react-transition-group' */

/* AmForm color scheme */
.AmForm--colors {
  --dark: rgba(50, 56, 62, 1);
  --light: rgba(255, 255, 255, 1);
  --select: rgba(235, 234, 234, 1);
  --disabled: rgba(151, 151, 151, 1);
}
/* react-datepicker component custom css */
.react-datepicker__input-container button {
  border-radius: 0 4px 4px 0;
  background: var(--light);
  color: black;
  border: 2px solid var(--dark);
  padding: 0 0.6rem;
  height: 3.36rem;
  width: 5rem;
  line-height: 1rem;
  font-size: 80%;
  outline: none;
  font-weight: 500;
}
.react-datepicker__input-container button:focus,
.react-datepicker__input-container button:active {
  outline: none;
}
.react-datepicker__input-container button:hover {
  background: var(--select);
}
/* AmForm component */
.AmForm {
  user-select: none;
  padding: 2rem;
}
.AmForm input[type="number"]::-webkit-inner-spin-button,
.AmForm input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  cursor: pointer;
}
.AmForm__input-group {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* travel types */
.AmForm__radio {
  justify-content: center;
  list-style-type: none;
  display: flex;
}
.AmForm__radio li {
  align-items: center;
  font-size: 1.1rem;
  margin: 0 1rem;
  display: flex;
  cursor: pointer;
}
.AmForm__icon,
.AmForm__icon--active {
  /* !important needed, otherwise overwritten from the icon library css */
  width: 1.6rem !important;
  height: 1.6rem !important;
}
.AmForm__icon {
  color: var(--disabled);
}
.AmForm__icon--active {
  color: var(--dark);
}

/* input city search */
.AmForm__input-box {
  position: relative;
  margin: 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 580px;
}
.AmForm__input-box input,
.AmForm__input-box input:active,
.AmForm__input-box input:focus {
  outline: none;
}
.AmForm__input-box-inner {
  width: 100%;
}

.AmForm__date-header {
  position: absolute;
  right: -0.1rem;
  bottom: -0.01rem;
  margin: 0;
  padding: 0;
}
.AmForm__date-header label {
  font-size: 76%;
  margin: 0;
  padding: 0.18rem 0 0.12rem 0;
}

.AmForm__input-wrapper {
  width: 100%;
  height: 3.4rem;
  border: 1px solid var(--dark);
  background: var(--dark);
  border-radius: 4px;
  position: relative;
  margin: 0;
}
.AmForm__input-wrapper--focus {
  border-radius: 0;
}
.AmForm__input-wrapper-inner {
  position: relative;
  height: 3.22rem;
  width: 100%;
}
.AmForm__input-box label,
.AmForm__input {
  display: block;
  margin: 0;
  border: none;
  transition: all 0.2s;
}
.AmForm__input-box label {
  text-transform: uppercase;
  font-weight: bold;
}
.AmForm__input-not-ready {
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  left: 0;
  margin: 0;
  font-size: 1.6rem;
  position: absolute;
}
.AmForm__input-ready {
  border-radius: 0 0 4px 4px;
  border: none;
  width: 74%;
  font-size: 1.4rem;
  left: 3.5rem;
  padding-left: 1rem;
  position: absolute;
}
.AmForm__input-iata,
.AmForm__input-airport,
.AmForm__input-country,
.AmFrom__date-header {
  backface-visibility: hidden;
  animation: opactosolid 0.4s ease;
}
.AmForm__input-iata,
.AmForm__input-airport,
.AmForm__input-country {
  color: var(--light);
  font-size: 0.8rem;
  position: absolute;
}
.AmForm__input-iata {
  font-size: 1.4rem;
  left: 1%;
  top: 34%;
  transform: translateY(-50%);
}
.AmForm__input-airport {
  bottom: 0;
  left: 1%;
}
.AmForm__input-country {
  bottom: 0;
  right: 20%;
}
.AmForm__suggestion-list {
  display: block;
  width: 100%;
  position: absolute;
  top: 4.8rem;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}
.AmForm--bottom-border-radius-none {
  border-radius: 4px 4px 0 0;
}
/* Amform secondary */
.AmForm__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  color: var(--light);
  height: 3rem;
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 1.6rem;
}
.AmForm__secondary label {
  margin: 0;
}
.AmForm__secondary-item {
  margin: 0 0.4rem;
  border-radius: 4px;
  border: none;
}
.AmForm__select {
  cursor: pointer;
}
.AmForm__input-number {
  width: 3rem;
  text-align: right;
}
#AmSubmit,
#AmSubmit:focus,
#AmSubmit:active {
  margin: 0;
}
#AmSubmit {
  border-radius: 4px;
  background: var(--light);
  border: 4px solid var(--dark);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
#AmSubmit:hover {
  background: var(--select);
}
/* media queries */

/* animations and effects */
@keyframes opactosolid {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
