.TravelForm--colors {
  --dark: rgba(50, 56, 62, 1);
  --back: rgba(200, 200, 200, 0.05);
  --light: rgba(255, 255, 255, 1);
  --select: rgba(235, 234, 234, 1);
  --disabled: rgba(151, 151, 151, 1);
}
.TravelForm--vars {
  --inputHeight: 3.22rem;
}
/* react-datepicker component custom css */
.TravelForm .react-datepicker-popper {
  z-index: 1000;
}
.TravelForm
  .react-datepicker-popper[data-placement^="bottom"]
  .TravelForm
  .react-datepicker__triangle,
.TravelForm
  .react-datepicker-popper[data-placement^="bottom"]
  .TravelForm
  .react-datepicker__triangle::before {
  border-bottom-color: var(--dark);
}
.TravelForm .react-datepicker__day--keyboard-selected,
.TravelForm .react-datepicker__header,
.TravelForm .react-datepicker__today-button,
.TravelForm .react-datepicker__day--selected {
  background: var(--dark);
}
.TravelForm .react-datepicker__current-month,
.TravelForm .react-datepicker-time__header,
.TravelForm .react-datepicker-year-header,
.TravelForm .react-datepicker__day-name,
.TravelForm .react-datepicker__header,
.TravelForm .react-datepicker__navigation--previous,
.TravelForm .react-datepicker__navigation--next {
  color: var(--light);
}
.TravelForm .react-datepicker__triangle {
  color: var(--dark);
}
.TravelForm .react-datepicker-wrapper,
.TravelForm .react-datepicker__input-container {
  border: none;
}
.TravelForm .react-datepicker-wrapper {
  margin-left: 6px;
  width: 140px;
}
.TravelForm .react-datepicker__input-container button {
  width: 100%;
  background: var(--light);
  color: var(--dark);
  border: 2px solid var(--dark);
  font-size: 80%;
  line-height: 1.64rem;
  font-weight: 500;
}
.TravelForm .react-datepicker__input-container button:focus,
.TravelForm .react-datepicker__input-container button:active {
  margin: 0;
  outline: 4px solid var(--dark);
  outline-offset: 1px;
}
/* default hover background */
.TravelForm__input:hover,
.TravelForm .react-datepicker__input-container button:hover,
.TravelForm__add-flight:hover,
#TravelForm__submit:hover {
  background-color: var(--select);
}
/* travelForm */
.TravelForm {
  margin: 1rem;
  user-select: none;
  border: 1px solid var(--disabled);
  border-radius: 4px;
  padding: 1rem;
  background-color: var(--back);
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.01' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
}
.TravelForm input[type="number"]::-webkit-inner-spin-button,
.TravelForm input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  cursor: pointer;
  margin-left: 2px;
}
.TravelForm__control-group {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
/* travel types */
.TravelForm__radio-button {
  justify-content: center;
  list-style-type: none;
  display: flex;
  padding: 0;
}
.TravelForm__radio-button li {
  align-items: center;
  font-size: 1.1rem;
  margin: 0 16px;
  display: flex;
  cursor: pointer;
}
.TravelForm__icon,
.TravelForm__icon--active {
  /* !important needed, otherwise overwritten from the icon library css */
  width: 1.6rem !important;
  height: 1.6rem !important;
  background: var(--light);
  border-radius: 50%;
}
.TravelForm__icon {
  color: var(--disabled);
}
.TravelForm__icon--active {
  color: var(--dark);
}
/* input */
.TravelForm__input-row-wrapper {
  margin: 0;
}
.TravelForm__input-group-wrapper {
  display: flex;
  border-radius: 4px;
  background: var(--dark);
  border: 1px solid var(--dark);
  margin-bottom: 16px;
}
.TravelForm__input-box label,
.TravelForm__input {
  display: block;
  margin: 0;
  border: none;
  transition: all 0.2s;
}
.TravelForm__input-box label {
  font-size: 80%;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 0rem;
  right: 10%;
  z-index: 1;
}
.TravelForm__input-wrapper {
  display: flex;
  margin: 0;
  position: relative;
  height: var(--inputHeight);
  width: 300px;
  border: 1px solid var(--dark);
}
.TravelForm__input {
  position: absolute;
}
.TravelForm__input-not-ready {
  padding: 0 0.6rem;
  width: 94%;
  height: 90%;
  left: 3%;
  margin: 0;
  font-size: 1.6rem;
  border-radius: 0 0 4px 4px;
}
.TravelForm__input-ready {
  text-align: center;
  border-radius: 0 0 4px 4px;
  width: 75%;
  font-size: 1.4rem;
  left: 16%;
}
.TravelForm__date-group-wrapper {
  display: flex;
}
.TravelForm__date-header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: var(--inputHeight);
}

.TravelForm__date-header label {
  position: absolute;
  margin-left: 8px;
  font-size: 70%;
  text-transform: uppercase;
  font-weight: 800;
  top: 0rem;
  left: 0;
  right: 0;
  z-index: 1;
}
.TravelForm .CustomInput__btn {
  height: var(--inputHeight);
  width: 100%;
}
.TravelForm__datepicker-wrapper {
  height: var(--inputHeight);
}
.TravelForm__input-iata,
.TravelForm__input-airport,
.TravelForm__input-country,
.TravelForm__date-header {
  backface-visibility: hidden;
}
.TravelForm__input-iata,
.TravelForm__input-airport,
.TravelForm__input-country {
  color: var(--light);
  font-size: 0.8rem;
  position: absolute;
}
.TravelForm__input-iata {
  font-size: 1.2rem;
  left: 1.6%;
  top: 34%;
  transform: translateY(-50%);
}
.TravelForm__input-airport {
  font-size: 0.64rem;
  bottom: -2px;
  left: 1.6%;
}
.TravelForm__input-country {
  font-size: 0.78rem;
  bottom: -2px;
  right: 9%;
}
.TravelForm__suggestion-list {
  position: absolute;
  background: var(--light);
  z-index: 100;
  border: 1px solid var(--dark);
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  top: var(--inputHeight);
}
.TravelForm__add-flight {
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  background-color: var(--light);
  padding: 0.4rem 0.6rem;
  width: fit-content;
  border-radius: 4px;
  border: 2px solid var(--dark);
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.TravelForm__icon-add {
  width: 2.2rem !important;
  height: 2.2rem !important;
  color: var(--dark);
  margin-right: 0.4rem;
}
.TravelForm__remove-flight {
  color: var(--light);
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.TravelForm__icon-remove {
  width: 2.2rem !important;
  height: 2.2rem !important;
  color: var(--light);
}
.TravelForm__icon-remove:hover {
  color: var(--select);
}
/* Amform secondary */
.TravelForm__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  color: var(--light);
  height: 3rem;
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 1.6rem;
}
.TravelForm__secondary label {
  margin: 0;
}
.TravelForm__secondary-item {
  margin: 0 0.4rem;
  border-radius: 4px;
  border: none;
}
.TravelForm__select {
  cursor: pointer;
}
.TravelForm__input-number {
  width: 3rem;
  text-align: right;
}
#TravelForm__submit,
#TravelForm__submit:focus,
#TravelForm__submit:active {
  margin: 0;
}
#TravelForm__submit {
  border-radius: 4px;
  background: var(--light);
  border: 4px solid var(--dark);
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.TravelForm__icon-flight {
  width: 2.2rem !important;
  height: 2.2rem !important;
  color: var(--dark);
  margin-right: 0.4rem;
}
/* modifiers */
.TravelForm--margin-bottom-none {
  margin-bottom: 0;
}
.TravelForm--ease-in-opacity {
  backface-visibility: hidden;
  animation: opactosolid 0.4s ease;
}
/* media queries */
@media only screen and (max-width: 800px) {
  .TravelForm__input-group-wrapper {
    flex-direction: column;
    /*TEMPORARY solution for getting only one box per row */
    margin: 0.4rem 50%;
  }
  .TravelForm__input-wrapper {
    margin-bottom: 1rem;
  }
  .TravelForm__date-group-wrapper {
    justify-content: center;
  }
  .TravelForm__remove-flight {
    margin: 0.4rem auto;
  }
  .TravelForm__secondary-item-wrapper {
    margin: 0.4rem 0;
  }
}
@media only screen and (max-width: 690px) {
  .TravelForm__input-group-wrapper {
    margin: 0.4rem;
  }
  .TravelForm__secondary {
    flex-wrap: wrap;
    height: 100%;
  }
}
@media only screen and (max-width: 460px) {
  .TravelForm__radio-button li {
    margin: 0 0.3rem;
    font-size: 80%;
  }
}
@media only screen and (max-width: 340px) {
  .TravelForm__input-wrapper {
    width: 260px;
  }
  .TravelForm__input-iata {
    font-size: 1rem;
  }
}
/* animations and effects */
@keyframes opactosolid {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
